body {
    background-color: rgb(240, 240, 240);
    font-family: Raleway, monospace;
    color: rgb(5, 5, 5);
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

header {
    text-align: left;
    height: 100px;
    display: inline-flex;
    border: 3px solid rgb(5, 5, 5);
}

header h1 {
    height: 1em;
    margin: .9em .5em 0 .5em;
}

#logo {
    height: 100px;
}

section {
    display: flex;

}

#playersList, #activeList, #finishedList {
    float: left;
    width: 33%;
    border: 3px solid black;
    padding: 5px;

}

#playersList {
}

#finishedList {
    clear: right;
}

footer {
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}